
{% load crispy_forms_tags %}

<div class="modal fade basicModalSM" role="dialog" id="myEdit" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Finish Task</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 I consider this task finished  
            </div>
            <form method="post" action="{% url 'worker:finish_task' task.id %}">
            {% csrf_token %}
            <div class="modal-body">

                 {{ form }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

