{% extends "bases/base.html" %}


{% block content %}

<div class="breadcrumb-area">
    <h1>Report</h1>

    <ol class="breadcrumb">
        <li class="item"><a href="{% url 'admins:dashboard' %}"><i class='bx bxs-report'></i></a></li>

        <li class="item">Report</li>

    </ol>
</div>


<div class="card mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>All Reports</h3>

        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ message }}  </strong>
            </div>
            {% endfor %}

        
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Worker</th>
                        <th scope="col">Created</th>
                        <th scope="col">Description</th>
                        <th scope="col">Observation</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in report %}
                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td>{{ x.worker }}</td>
                        <td>{{ x.date }}</td>
                        <td>{{ x.description }}</td>
                        {% if x.observation %}
                        <td>{{ x.observation }}</td>
                        {% else %}
                        <td>No observations</td>
                        {% endif %}
                        <td><a href="{% url 'manager:edit_report' x.id %}"  data-toggle="tooltip" data-placement="bottom" title="Edit">
                                <i class="bx bxs-edit"></i>
                            </a></td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- End -->



{% endblock %}