{% extends "bases/base_login.html" %}
{% load static %}

{% block content %}
        <!-- Start Login Area -->
        <div class="login-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="login-form">
                        <div class="logo">
                            <a ><img src="{% static 'assets/img/small-logo.png' %}" alt="image"></a>
                             <span>Valentin</span>
                        </div>

                        <h2>Welcome</h2>

                        <form autocomplete="off">
                            <div class="form-group">
                                <input type="text" class="form-control" autocomplete="new-text" name="email" placeholder="Email">
                                <span class="label-title"><i class='bx bx-user'></i></span>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" autocomplete="new-text" name="password" placeholder="Password">
                                <span class="label-title"><i class='bx bx-lock'></i></span>
                            </div>

                            <div class="form-group">
                                <div class="remember-forgot">
                                    <label class="checkbox-box">Remember me
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>

                                    <a href="forgot-password.html" class="forgot-password">Forgot password?</a>
                                </div>
                            </div>

                            <button type="submit" class="login-btn">Login</button>

                            <p class="mb-0">Don’t have an account? <a href="register.html">Sign Up</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}