{% extends "bases/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="breadcrumb-area">
    <h1>Worker</h1>

    <ol class="breadcrumb">
        <li class="item"><a href="{% url 'admins:index' %}"><i class='bx bx-user-circle'></i></a></li>

        <li class="item">Worker</li>

        {% if worker_user %}
        <li class="item">Edit Worker</li>
        {% else %}
        <li class="item">Add Worker</li>
        {% endif %}
    </ol>
</div>

<div class="card mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">

        {% if worker_user %}
        <h3>Work Worker</h3>
        {% else %}
        <h3>Add Worker</h3>
        {% endif %}
        
    </div>

    {% if user_form.errors or worker_form.errors  %}
    <br>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ user_form.errors }} </strong>
        <strong>{{ worker_form.errors }} </strong>
    </div>
    {% endif %}
    
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if worker_user %}
            <div class="form-group">
                {{ worker_form.first_name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ worker_form.last_name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ worker_form.phone|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ worker_form.manager|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ worker_form.departament|as_crispy_field }}
            </div>

            <button type="submit" class="btn btn-primary">Edit</button>

            {% else %}

            <div class="form-group">
                {{ user_form.username|as_crispy_field }}
              
            </div>
            <div class="form-group">
                {{ user_form.password1|as_crispy_field }}
              
            </div>
            <div class="form-group">
                {{ user_form.password2|as_crispy_field }}
              
            </div>
            <div class="form-group">
                {{ worker_form.first_name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ worker_form.last_name|as_crispy_field }}
            </div>
             <div class="form-group">
                {{ worker_form.phone|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ worker_form.manager|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ worker_form.departament|as_crispy_field }}
            </div>


            <button type="submit" class="btn btn-primary">Create</button>

            {% endif %}
            
        </form>

    </div>
</div>


{% endblock %}